*{ background-color: #252424;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    font-size: 1rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(2px 2px 10px rgb(0, 255, 26));
    color: yellow;
}
nav{
    background-color: #111;
    display: flex;
    padding: 0 10px;
    justify-content: space-between; 
}
nav .logo img{
    object-fit: contain;
    max-width: 110px;
    padding-top: 12px;
    background-color: #111;
    margin: -5px 0px -33.5px 0px;
}
nav .action{
    display: flex;
    margin: 10px 20px;
    background-color: #111;
}
nav .action .signup{
    background-color: #e50914;
    padding: 4px 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 5px;
}
nav .action .signup:hover{
    background-color:#111;
    transition: 0.8ms;
}
nav .action .login{
    background-color: transparent;
    color: #ffffff;
    padding: 4px 14px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor:pointer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 5px;
}
nav .action .login:hover{
    background-color:#ffffffbf;
    transition: 0.8ms;
}
.title h1{
    word-wrap: break-word;
    color: #fff;
    font-size: 30px;
    font-size: 2.75rem;
    font-weight: 400;
    font-weight: 900;
    line-height: 34px;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    padding: 5px 0px;
}

.posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll; 
    margin: 1% 0.5% ;  
}
.posters::-webkit-scrollbar{
    display: none;
}
.poster{
    margin:0% 0.5%;
    border-radius: 0.4%;

}
h1{
    font-size: 1.4rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0.5% 0% 0% 1%;

}
h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding:0.2% 0%;
}
.posters:hover{
color:blue;
cursor: pointer;
}